@media screen and (min-width: 800px) {
  .wrapper {
        max-width: calc(1200px - (30px * 2));
        padding-right: 30px;
        padding-left: 30px;
    }
}

.wrapper {
    max-width: calc(1200px - (30px));
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
