@import "minima";

body {
  background-color: inherit;
  color: inherit;
}

.highlighter-rouge .highlight {
  background: none;
  border: none;
  padding: 0;
}

.highlight {
  background: none;
  border: none;
  padding: 0;
}

code {
  background: none;
  padding: 0;
}
